.about {
    position: relative;
    padding-top: 20rem;
    margin-top: -13rem;
    height: 90vh;
    background-image: 
        linear-gradient(
            to bottom,
            rgba($color-black-2, 1),
            rgba($color-black, 1));
    color: $color-white;
    z-index: 800;
    clip-path: 
        polygon(
            0 0, 
            100% 0, 
            100% 85vh, 
            50vw 100vh,
            0 85vh);
    
    &__badge-box {
        display: flex;
        justify-content: center;
    }
}

.work {
    align-items: center;
    color: $color-gray-light;
    position: relative;
    margin-top: -24rem;
    padding: 15rem 0 10rem 0;
    z-index: 700;
    background-image: linear-gradient(
        $color-gray-dark,
        $color-black
    );

    @include respond(tab-lan) {
        // margin-top: -41rem;
        padding: 20rem 0 10rem 0;
    }

    &__box {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: relative;
        padding: 3rem 0 2rem 0;
        transition: all .2s;

        @include respond(tab-port) {
            display: block;
        }


        &:hover {
            background-color: rgba($color-black, .2);
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &:not(:last-child) {
            margin-bottom: 8rem;
        }
    }

    &__image-box {
        width: 40%;

        @include respond(tab-port) {
            display: block;
            height: 50vh;
            width: 80%;
            margin: 0 auto;
        }
    }

    &__details {
        width: 40%;

        @include respond(tab-port) {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    }

    &__paragraph {
        width: auto;
        font-size: 1.5rem;
    }

    &__list {
        margin-left: 3.5rem;
        font-size: 1.5rem;
    }

    &__icon-box {
        width: 50%;
        padding: 2rem 0;

        & a {
            &, &:visited, &:link {
                text-align: center;
                text-decoration: none;
                font-size: 1.5rem;
                display: inline-block;
                color: $color-tertiary;
                transition: all .2s;

                &:not(:first-child) {
                    margin-left: 2rem;
                }

                &:hover {
                    color: $color-tertiary-light;
                    transform: scale(1.1);
                }
            }
        }
    }

    &__icon {
        font-size: 3rem;
    }
}

.footer {
    background-color: $color-black-2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    color: $color-tertiary;
    padding: 3rem;
    z-index: 100;

    @include respond(tab-lan) {
        display: block;
        margin-top: 0;
        padding: 3rem;
    }

    & a{
        &,
        &:visited,
        &:link {
            text-decoration: none;
            color: $color-tertiary;
        }
    }

    &__logo {
        font-size: 6rem;

        @include respond(tab-lan) {
            display: block;
        }
    }

    &__text {

        @include respond(tab-lan) {
            border-top: 1px solid $color-tertiary-light;
            margin-bottom: 2rem;
            padding-top: 2rem;
        }

    }

    &__header {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__link-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        list-style: none;
    }

    &__item {
        font-size: 1.7rem;
        display: inline-block;
        padding: .5rem 2rem;

        &:hover * {
            color: lighten($color-tertiary-light, .2);
        }
    }

    &__item:hover  &__icon {
        animation: 1s ease bounce;
    }


    &__icon {
        font-size: 4rem;
        transition: all .3s;
    }

}