.section-about {
    padding-top: 20rem;
    margin-top: -13rem;
    height: 50vh;
    background-color: $color-black-1;
    // background-image: 
    //     linear-gradient(
    //         to bottom,
    //         rgba($color-tertiary-light, .8),
    //         rgba($color-tertiary, .8));
    color: $color-white;
}


.footer {
    
}