.header {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95vh;
    background-image: 
        linear-gradient(
            to right bottom, 
            rgba($color-primary-light,.8),
            rgba($color-primary-dark, 0)),
        url(../img/bg.jpg);
    background-size: cover;
    background-position: right; 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 50vw 100%,0 75vh);

    &__text-box {
        justify-content: center;
        width: 50%;
        text-transform: uppercase;
        text-align: center;
    }

    &__btn-box {
        display: flex;
        justify-content: space-evenly;
    }
}

.heading-primary {
    color:$color-white;
    // margin-bottom: 5rem;
    text-shadow: .2rem .2rem 3rem rgba($color-black, 0.6);

    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation: .7s ease-out slide-to-right;

    }
    
    &--sub {
        display: block;
        font-size: 1.3rem;
        letter-spacing: 1.3rem;
        font-weight: 700;
        animation: .7s ease-out slide-to-left;
    }
}
