.header {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95vh;
    background-image: 
        linear-gradient(
            to right bottom, 
            rgba($color-black, .1),
            rgba($color-tertiary-light,.8),
            rgba($color-black, .3)),
        url(../img/bg.jpg);
    background-size: cover;
    background-position: right; 
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50vw 100%,0 85vh);
    z-index: 900;

    &__text-box {
        width: 50%;
        text-transform: uppercase;
        text-align: center;
    }

    &__btn-box {
        display: flex;
        justify-content: space-evenly;
    }
}

.heading-primary {
    color:$color-white;
    text-shadow: .2rem .2rem 3rem rgba($color-black, 0.6);

    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation: .7s ease-out slide-to-right;

        @include respond(tab-port) {
            letter-spacing: 0;
            font-size: 6rem;
        }
    }
    
    &--sub {
        text-transform: none;
        display: block;
        font-size: 1.6rem;
        letter-spacing: 1.1rem;
        font-weight: 400;
        animation: .7s ease-out slide-to-left;

        @include respond(tab-port) {
            letter-spacing: 0;
            font-size: 2.3rem;
        }
    }
}
