.btn {
    &, &:visited, &:link {
        text-transform: uppercase;
        border-radius: 5rem;
        padding: 1.7rem 4rem;
        text-decoration: none;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
        transition: all .2s;
        border: none;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active {
        transform: translate(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
    
    &--white {
        background-color:$color-white;
        color: $color-gray;

        &::after{
            background-color: $color-white;
        }
    }

    &--primary {
        background-color:$color-primary;
        color: $color-white !important;
    }

    &--transparent {
        background-color:transparent;
        color: $color-white;
        border: 1px solid $color-white !important;
    }
    
    &--animated {
        animation: .7s ease-out slide-to-up .75s;
        animation-fill-mode: backwards;
    }
}