.res {
    position: relative;
    width: 100%;
    height: 100%;

    &__img {
        position: absolute;
        transition: all .2s;
        box-shadow: 0 1.5rem 3rem rgba($color-black,.4);
        outline-offset: 1rem;
        border-radius: 2px;

        @include respond(tab-port) {
            display: block;
            width: 80%;
        }

        &:hover {
            transform: scale(1.05) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 .5rem 4rem rgba($color-black,.5);
            outline: 1px solid $color-tertiary-light;
        }

        &--desktop {
            width: 80%;
            height: 33rem;

            @include respond(tab-port) {
                height: 25rem;
                width: 90%;
            }
        }

        &--tab {
            width: 35rem;
            height: 20rem;
            right: 3rem;
            top: 8rem;

            @include respond(tab-lan) {
                width: 30rem;
                top: 10rem;
                right: 1rem;
            }

            @include respond(tab-port) {
                width: 30rem;
                top: 10rem;
            }
        }

        &--phone {
            width: 15rem;
            height: 20rem;
            right: 0;
            top: 15rem;

            @include respond(tab-port) {
                width: 13rem;
                top: 12rem;
            }
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}