// COLOR VARIABLES
$color-primary: #3dcac3;
$color-primary-light: #00fceb;
$color-primary-dark: #45a29e;

$color-secondary: #38a358;
$color-secondary-light: #7afca1;
$color-secondary-dark: #097429;




$color-black: #000;
$color-white: #fff;
$color-gray: rgb(95, 95, 95);
$color-gray-light: rgb(150, 150, 150);
$color-gray-dark: rgb(59, 59, 59);