// COLOR VARIABLES
$color-primary: #3dcac3;
$color-primary-light: #00fceb;
$color-primary-dark: #45a29e;

$color-secondary: #38a358;
$color-secondary-light: #7afca1;
$color-secondary-dark: #097429;

// $color-tertiary: #7139cc;
// $color-tertiary-light: #ab80fa;
// $color-tertiary-dark: #3c02a7;

$color-tertiary: #89b92e;
$color-tertiary-light: #c1f363;
$color-tertiary-dark: #71a80a;



$color-black: #000;
$color-black-1: rgb(24, 22, 22);
$color-black-2: rgb(46, 40, 40);
$color-white: #fff;
$color-gray: rgb(95, 95, 95);
$color-gray-light: rgb(150, 150, 150);
$color-gray-dark: rgb(59, 59, 59);